<!doctype HTML>
<html ng-app="counter">

<head>
    <title>Counter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="theme.css ">
    <script src="https://use.edgefonts.net/maiden-orange.js"></script>
</head>

<body ng-controller="myCtrl">
    <div class="inc std-container">
        <h1 class="counter">{{ counter }}</h1>
        <div class="btn-container std-container">
            <h3 ng-click="increment()" class="inc-btn std-btn">click me to increment</h3>
            <h3 ng-click="increment()" class="dec-btn std-btn">click me to decrement</h3>
            <h3 ng-click="increment()" class="resest-btn std-btn">click me to reset</h3>
        </div>
    </div>
</body>

</html>